@import "./variables";

@mixin button_layer {
	background-color: $purpule;
	display: block;
	width: 20vw;
	height: 7vh;
	text-align: center;
}

@mixin title-desc-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@mixin srv-title {
	text-align: center;
	margin-top: -15vh;
	font-size: clamp(0.8rem, 3vw, 1.9rem);
	color: $blue;
	font-weight: 600;
}

@mixin srv-desc {
	margin-top: 2vh;
	color: $black;
	font-size: clamp(0.9rem, 2.5vw, 1.3rem);
	font-weight: 500;
	width: 43vw;
}

.page_hero__content {
	height: 70vh;
	max-width: 100vw;
	display: flex;
	flex-direction: row;
	background-color: $paige;
	// position: fixed;

	.image {
		width: 45vw;
		height: 50vh;
		position: relative;
		margin: 6vh 2vw;
	}
}

.text-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.txt-descrption {
		color: $darkPur2;
		font-size: 2.1rem;
		margin-top: 17vh;
		line-height: 6.9vh;
	}

	.btn-container {
		@include button_layer;
		margin-top: 3vh;
		padding: 2vh;
		border: $darkPur 1.5px solid;
		position: relative;
		cursor: pointer;

		.button {
			color: $darkPur2;
			font-size: 19px;
			list-style: none;
			text-decoration: none;
		}
	}

	.backdround-text2 {
		@include button_layer;
		background-color: $lightPur;
		margin-left: 2vw;
		margin-top: -6vh;
		// position: relative;
		// z-index: 30;
	}

	.btn-container:hover {
		background-color: $darkPur2;
		.button {
			color: $white;
		}

		+ .backdround-text2 {
			margin-left: 0.5vw !important;
			margin-top: -6.5vh !important;
			transition: ease-out 0.3s;
		}
	}
}

// second part of the page
.container-how-works {
	// border: orangered 3px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;

	.title {
		color: $darkPur2;
		font-size: clamp(1.1rem, 5vw, 2rem);
		padding: 2vw;
		text-align: center;
		margin-top: 3vh;
	}
	.card-cont {
		display: flex;
		flex-direction: row;
	}
}
.icons-container {
	width: 28vw;
	margin: 5vh 3vw;

	.card-icon {
		width: 16vw;
		height: 23vh;
		z-index: 22;
		margin: 0vh 7vw;
		position: relative;
	}

	.title2 {
		position: relative;
		margin: 1vh 14vw;
		color: $blue;
		font-size: 22px;
	}

	.para {
		color: $black;
		position: relative;
		margin: 0.2vh 5vw;
		display: block;
		width: 21vw;
		text-align: center;
		font-size: clamp(0.8rem, 2vw, 1.3rem);
		color: $black;
		// margin-bottom: 9vh;
	}
}

//services styles
.services__content {
	background-color: $paige;
}

.service-card-left {
	display: flex;
	flex-direction: row;

	.srv-image {
		width: 45vw;
		margin-left: 7vw;
		margin-top: -12vh;
	}
}

.title-desc-cont {
	@include title-desc-cont;

	.srv-title {
		@include srv-title;
	}

	.srv-desc {
		@include srv-desc;
	}
}

.service-card-right {
	display: flex;
	flex-direction: row-reverse;

	.srv-image2 {
		width: 45vw;
		margin-right: 7vw;
	}
}

.title-desc-cont2 {
	@include title-desc-cont;

	.srv-title2 {
		@include srv-title;
	}

	.srv-desc2 {
		@include srv-desc;
	}
}

@media screen and (max-width: 716px) {
	.page_hero__content {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		.image {
			// margin-top: 40vh;
			width: 90vw !important;
			height: 40vh !important;
			margin-top: -3%;
		}
	}
	.text-button-container {
		// border: orangered 2px solid;
		max-width: calc(100vw - 30vw);
		height: 30vh;
		display: flex;
		margin-top: 1vh;

		.txt-descrption {
			font-size: 3.3vh;
			margin-top: 1vh;
			line-height: 89%;
			text-align: center;
		}

		.btn-container,
		.backdround-text2 {
			width: 35vw;
		}
		.button {
			font-size: clamp(0.5rem, 4vw, 1.2rem) !important;
		}
	}

	.service-card-right,
	.service-card-left {
		display: flex;
		flex-direction: column;

		.srv-image,
		.srv-image2 {
			width: 95vw !important;
		}
	}

	.title-desc-cont2,
	.title-desc-cont {
		margin-top: 8vh;

		.srv-title2,
		.srv-title {
			font-size: clamp(0.8rem, 5vw, 1.9rem);
		}

		.srv-desc2, .srv-desc{
			font-size: clamp(0.9rem, 5vw, 1.3rem);
			margin-bottom: 6vh;
			width: 70vw;
		}
	}
}
