@import "./variables";

// $gray: #333333;
$base-transition: all 0.3s;

@mixin auth {
	margin-left: 2vw;
	margin-right: 2vw;
	color: $white;
	cursor: pointer;
}

@mixin line {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 90%;
	height: 2px;
	border-radius: 5px;
	transition: $base-transition;
	background: $white;
}
@mixin burg_con {
	// height: 5vh;
	// min-width: 5vh;
	// position: relative;
	// margin: 3.7vw 0.2vh 1vw;
	// cursor: pointer;
	// border: rgb(131, 232, 131) 2px solid;
	position: fixed;
	display: flex;
	height: 4vh;
	min-width: 5vh;
	margin-left: calc(100vw - 9vw);
}
.nav-ul2 {
	display: none;
}

.nav-bar-container {
	background-color: $blue;
	display: flex;
	height: 6vh;
	align-items: center;
	.nav-ul {
		display: flex;
		justify-content: space-between;
		// border: orangered 2px solid;
		width: calc(100vw - 10vw);
		margin-left: 20vw;

		.nav-li {
			list-style: none;
			cursor: pointer;
			justify-content: space-between;
			color: $white;
		}
		.nav-li:nth-child(1) {
			margin-left: 13vw;
		}
		.nav-li:nth-child(4) {
			margin-right: 4vw;
		}
	}
}
.icon {
	font-size: 4vw;
}

.login,
.icon {
	@include auth;
}

.signup {
	@include auth;
	border: $white 2px solid;
	padding: 0.7vh 1.5vw;
	border-radius: 2vh;
}
.signup:hover {
	background-color: $pink;
	color: $blue;
}

@media only screen and (max-width: 830px) {
	// .nav-ul,
	// .nav-li,
	.login,
	.signup,
	.icon {
		// visibility: hidden;
		display: none;
	}
	// handle burger when it's open
	.hamburger {
		@include burg_con;
	}
	.hamburger:hover {
		.border2 {
			width: 60%;
			transition: $base-transition;
			margin-left: 29%;
		}
	}
	.line {
		@include line;
	}
	.border1 {
		top: 0.8vh;
	}
	.border2 {
		top: 2vh;
	}
	.border3 {
		bottom: 0.5vh;
	}

	//handle close burger
	// body {
	//     overflow: hidden;
	// }
	.close {
		@include burg_con;
		margin-bottom: 1.1vh;
		.border2 {
			width: 0%;
			transition: $base-transition;
			margin-left: 30%;
		}
		.border1 {
			transform: translateX(0) translateY(2.5vh) rotate(45deg);
			transition: all 0.6s;
		}
		.border3 {
			transform: translateX(0px) translateY(-4%) rotate(-45deg);
			transition: all 0.6s;
		}
	}

	.nav-bar-container {
		.nav-ul {
			// position: fixed;
			display: flex;
			flex-direction: column;
			justify-content: space-around !important;
			align-items: center;
			background-color: $blue;
			height: 89vh;
			margin-top: 95vh;
			margin-left: calc(100vw - 0vw);
			// float: right;
			// margin-right: -8.7%;
            max-width: 45vw !important;
            
            .nav-li:nth-child(1){
                margin-left: 0 !important;
            }
            .nav-li:nth-child(4) {
                margin-right: 0;
            }
		}

		.nav-ul.active {
			margin-left: calc(100vw - 45vw);
			transition: ease-in-out 0.9s;
		}
	}

	// .nav-ul2 {
	// 	display: flex;
	//     flex-direction: column;
	//     align-items: center;
	// 	border: orangered 2px solid;
	//     min-width: 50vw;
	//     height: 88vh;
	//     float: right;
	//     background-color: $pink;
	//     border-top-left-radius: 1vw;
	//     border-bottom-left-radius: 1vw;

	//     .nav-li2 {
	//         list-style: none;
	//         margin-top: 10vh;
	//         font-size: 01rem;
	//     }
	// }
}
